/* CSS overrides for BCF theme */

html {
  /* Ensure the background-color is flooded */
  /* See: https://css-tricks.com/html-vs-body-in-css/ */
  /* See: https://css-tricks.com/just-one-of-those-weird-things-about-css-background-on-body/ */
  background-color: #171a21;

  /* #91B7B8 */
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171a21;
  color: #474747;

  /* Set lining figures for Raleway font to avoid "Numbers out of line"  */
  /* See: https://www.codesmite.com/article/fixing-raleway-and-similar-fonts-numerals */
  /* See: https://stackoverflow.com/questions/38444383/numbers-not-on-same-line */
  -webkit-font-variant-numeric: lining-nums;
  -moz-font-variant-numeric: lining-nums;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #474747;
}

h1, .h1 {
  font-size: 45px;
}

h2, .h2 {
  font-size: 40px;
}

h3, .h3 {
  font-size: 30px;
}

h4, .h4 {
  font-size: 20px;
}

/* Link color overrides */
a {
  color: #db742c;
}

a:hover {
  color: #a55821;
  text-decoration: none;
}

a,
a:hover
a.active,
a:active {
  outline: none !important;
}

/* Form controls */
input, textarea {
  width: 80%;
}

input[type="checkbox"],
input[type="radio"],
input[type="submit"] {
  width: auto; /* Override the width on other input elements */
}

input[type="submit"] {
  background-color: #db742c;
  color: #f1f2f2;
}

input[type="submit"]:hover {
  background-color: #a55821;
  color: #f1f2f2;
}

label {
  display: block; /* Override inline labels from bootstrap */
}

/* Status messages */
.messages.messages--status {
  margin-bottom: 20px;
}

/* Header background */
.main-header {
  background: url(../images/Bibliotekschefforeningen_2000x800px3.png) top left/cover no-repeat;;

}

/* Change alpha on header background overlay */
.main-header:after {
  background: rgba(21, 22, 26, 0.8);
}

#main-menu li.active {
  font-weight: bold;
}

.region-sidebar-first #main-menu a {
  color: #db742c;
  padding: 0 0 13px 0;
}

.region-sidebar-first #main-menu li {
  float: none;
}

/*  Sub-menu block for main-menu in left sidebar */
#block-bcf-mainnavigation h3 {
  margin: 0 0 20px 0;
}
#block-bcf-mainnavigation h3 a {
  color: #474747;
}

.welcome-banner-text {
  max-width: 700px;
}

.region-bottom-first,
.region-bottom-second,
.region-bottom-third,
.region-bottom-forth {
  height: 380px;
}

.logo img {
  max-width: 180px;
}

/* Remove margin from main-header to cover body background-color */
.main-header {
  margin-bottom: 0;
}

/* Vertical rhythm on paragraphs */
p {
  margin: 15px 0;
}

/* Responsive images */
img {
  height: auto;
}

/* Page title */
#page-title h1 {
  margin-top: 0;
  margin-bottom: 15px;
}

/* Main menu in header */
div.region-primary-menu {
  margin-top: 10px;
}


/* Main content */
main {
  background-color: #f1f2f2;
  padding: 20px 0;
}


/* Top widget with font-awesome icons on frontpage */
.path-frontpage .topwidget .fa {
  background: #db742c;
  color: #f1f2f2;
  width: 125px;
  height: 125px;
}


/* Article/Page */
.comment-submitted {
  color: #474747;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  border: none;
}

.comment-submitted a {
  color: #db742c;
}

/* Target tag links on article pages */
.page-node-type-article .field-tags a {
  float: left;
  margin-right: 10px;
}

/* Target tags on article pages */
.page-node-type-article .field-tags {
  margin: 20px 0;
}

/* Target links like "add new comment" on article pages */
.page-node-type-article ul.links.inline {
  clear: left;
  margin-top: 20px;
}

/* Bottom widgets */
.bottom-widgets {
  background-color: #f1f2f2;
}


/* Comments */
.comments {
  border-top: 1px solid #ccc;
}

.comments h3 {
  margin-top: 30px;
}

footer.comment-wrap {
  border-bottom: 1px solid #ccc;
}


/* Footer */
.footer-menu {
  padding: 50px 0;
  color: #fff;
}

.footer-menu a {
  color: #fff; /* Override */
}

footer a:hover {
  color: #888;
}

.footer-menu {
  background: none;
}

.footer-menu nav li {
  display: block;
}

nav h2 {
  display: block;
}

footer h2 {
  color: #db742c;
}

.footer-logo {
  float: right;
  max-width: 60%;
  margin-top: 100px;
}


/* Webform on article */
.page-node-type-article .webform-submission-form {
  margin: 40px 20px;
}


/* Views grid */
div.views-col {
  padding: 0 10px;
}

/* Front page article view. (sticky) */
.view-article-front img {
  width: 100%;
}

/* Hide register menu-link for logged-in users. Uses class defined by menu_link_attribute module. */
.user-logged-in li .user-register-menu-link {
  display: none;
}

/* User register form */
#user-register-form {
  margin: 0 auto;
}

/**
 * Comments styling.
 */
.comments > h3 {
  margin-bottom: 25px;
}

.comment h3 {
  font-size: 24px;
}

#comment-form .filter-wrapper {
  display: none;
}

/**
 * Responsive styling.
 */

@media (max-width: 767px) {
  .views-col {
    /* Make views grid columns full width on small screens. */
    width: 100%;

    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  /* Fix narrow width on bootstrap container on small screens. */
  main > div > .container {
    width: 95%;
  }
}
